#book-table{
  order: 1;
}

#cover {
  order: 2;
}

#information {
  order: 3;
}

#introduction {
  order: 1;
}

#questionnaire {
  order: 4;
}

.character li {
  display: inline;
  margin: 5px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.content-cohesive {
  margin: 1em;
  max-height: 40%;
  width: 45%;
}

.content-table {
  width: 300px;
  height: 100px;
  border: 2px;
  border: 1px;
  border-style: solid;
  border-color:  gray;
}
  .content-table tr,td {
    border: 1px;
    border-style: solid;
    border-color: #e8e8e8;
  }
  .content-table th {
    font-weight: bold;
    background-color: #DDFFDD;
  }

.text-strong {
  font-size: 1.5em;
  font-weight: bold;
}
  .text-color-red {
    color: red;
  }
  .text-color-blue-underline {
    color: blue;
    text-decoration: underline;
  }

a {
  text-decoration: none;
}
a:hover {
	color: red;
}

img {
  width: 450px;
  height: 600px;
}
